body {
  margin: 0;
  font-family: 'Chirp', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-text {
  color: red;
  text-decoration: none;
  font-family: 'Chirp', sans-serif;
}

